/*
========================================================================================
    goodwright/imaps-nf Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

includeConfig 'conf/base.config'

profiles {
    test      { includeConfig '../conf/test.config'      }
    iMaps     { includeConfig '../conf/imaps.config'      }
}