params {
    outdir           = "./results"
    publish_dir_mode = "symlink"
    verbose          = false
    enable_conda     = false
}

profiles {
    docker { includeConfig "./docker.config" }
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}