params {
    outdir                 = './results'
    publish_dir_mode       = 'symlink'
    verbose                = false
    enable_conda           = false
    max_cpus               = 10
}

process {
    // Default publishDir for all processes
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: "BOWTIE_ALIGN" {
        ext.args = "-v 2 -m 1 --norc --best --strata"
        params {
            save_unaligned = true
        }
    }

    withName: "STAR_ALIGN" {
        ext.args = "--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --quantMode TranscriptomeSAM"
    }

    withName: "TRIMGALORE" {
        params {
            clip_r1              = 0
            clip_r2              = 0
            three_prime_clip_r1  = 0
        }
    }
}

