params {
    outdir                 = './results'
    publish_dir_mode       = 'symlink'
    verbose                = false
    enable_conda           = false
    max_cpus               = 10

    // BOWTIE_ALIGN
    save_unaligned         = true

    // TRIMGALORE
    clip_r1                = null
    clip_r2                = null
    three_prime_clip_r1    = null
    three_prime_clip_r2    = null
}

process {
    // Default publishDir for all processes
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

