params {
    outdir                 = './results'
    publish_dir_mode       = 'symlink'
    verbose                = false
    enable_conda           = false
    max_cpus               = 10
}

process {
    // Default publishDir for all processes
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}