includeConfig "../conf/base.config"

profiles {
    test {
        params.filtered_regions   = "assets/regions.filtered.gtf.gz"
        params.unfiltered_regions = "assets/regions.gtf.gz"
        params.gtf                = "assets/genome.basic.gtf"
        params.fai                = "assets/alignments.fa.fai"
    }
}