includeConfig "../conf/base.config"

process {
    withName: "STAR_ALIGN" {
        ext.args = "--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --quantMode TranscriptomeSAM --outFilterMultimapNmax 1 --outFilterMultimapScoreRange 1 --outSAMattributes All --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterType BySJout --alignIntronMin 20 --alignIntronMax 1000000 --outFilterScoreMin 10 --alignEndsType Extend5pOfRead1 --twopassMode Basic"
    }
}

profiles {
    test {
       params.fastq = "assets/demultiplexed.fastq.gz"
       params.index = "assets/star"
       params.gtf = "assets/genome.gtf"
    }
}