includeConfig "../conf/base.config"

params {
    clip_r1              = null
    clip_r2              = null
    three_prime_clip_r1  = null
    three_prime_clip_r2  = null
}

process {
    withName: "TRIMGALORE" {
        ext.args = "--length 10"
    }
}

profiles {
    test {
        params.fastq = "assets/demultiplexed.fastq.gz"
    }
}