includeConfig "../conf/base.config"

def umi_separator = params.containsKey("umi_separator") ? params.umi_separator : "rbc:"

process {
    withName: "UMICOLLAPSE" {
        ext.args = "--umi-sep '${umi_separator}' --two-pass"
    }
}

profiles {
    test {
        params.bam = "assets/transcriptome.bam"
        params.bai = "assets/transcriptome.bam.bai"
    }
}