includeConfig '../conf/base.config'

process {
    withName: "BOWTIE_ALIGN" {
        ext.args = "-v 2 -m 1 --norc --best --strata"
    }

    withName: "STAR_ALIGN" {
        ext.args = "--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --quantMode TranscriptomeSAM"
    }

    withName: "UMITOOLS_DEDUP" {
        ext.args = "--umi-separator='rbc:'"
    }
}