/*
========================================================================================
    goodwright/imaps-nf Nextflow config file
========================================================================================
    Config for preparegenome.nf
----------------------------------------------------------------------------------------
*/

includeConfig '../conf/base.config'

manifest {
    name            = 'goodwright/imapsnf'
    author          = 'Charlotte Capitanchik, Sam Ireland, Alex Harston'
    homePage        = 'https://github.com/goodwright/imaps-nf'
    description     = 'Nextflow CLIP-Seq analysis pipeline, as used in imaps.goodwright.org'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
    version         = '3.3'
}

params {
    outdir                 = './results'
    publish_dir_mode       = 'copy'
}

profiles {
    test      { includeConfig 'conf/test.config'      }
    docker    {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    iMaps {
      docker.enabled         = true
      docker.userEmulation   = true
      singularity.enabled    = false
      podman.enabled         = false
      shifter.enabled        = false
      charliecloud.enabled   = false

      params {
        max_cpus   = 2
        max_memory = 6.GB
        max_time   = 6.h
      }
    }
}