/*
========================================================================================
    goodwright/imaps-nf Nextflow config file
========================================================================================
    Config for preparegenome.nf
----------------------------------------------------------------------------------------
*/

includeConfig '../conf/base.config'

process {

    withName: 'GUNZIP' {
        publishDir = [ path: { "${params.outdir}/${task.process.toLowerCase().split(':')[-1]}" } ]
    }

    withName: 'STAR_GENOMEGENERATE' {
        publishDir = [ path: { "${params.outdir}/${task.process.toLowerCase().split(':')[-1]}" } ]
    }

    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [ path: { "${params.outdir}/${task.process.toLowerCase().split(':')[-1]}" } ]
    }

    withName: 'ICOUNT_SEGMENT' {
        publishDir = [ path: { "${params.outdir}/${task.process.toLowerCase().split(':')[-1]}" } ]
    }

    withName: 'LONGEST_TRANSCRIPT' {
        publishDir = [ path: { "${params.outdir}/${task.process.toLowerCase().split(':')[-1]}" } ]
    }

}

profiles {
    test      { includeConfig '../conf/test.config'      }
    iMaps     { includeConfig '../conf/imaps.config'      }
}