/*
========================================================================================
    goodwright/imaps-nf Nextflow config file
========================================================================================
    Config for demultiplex.nf
----------------------------------------------------------------------------------------
*/

includeConfig '../conf/base.config'

process {

    withName: 'FASTQC' {
        publishDir = [ path: { "${params.outdir}/${task.process.toLowerCase()}" } ]
    }

    withName: 'CSV_TO_BARCODE' {
        publishDir = [ path: { "${params.outdir}/${task.process.toLowerCase()}" } ]
    }

    withName: 'ULTRAPLEX' {
        publishDir = [ path: { "${params.outdir}/${task.process.toLowerCase()}" } ]
    }

}

profiles {
    test      { includeConfig '../conf/test.config'      }
    iMaps     { includeConfig '../conf/imaps.config'      }
}